USE [HRM]
GO
/****** Object:  Table [dbo].[Universities]    Script Date: 1.08.2022 11:42:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Universities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityId] [int] NOT NULL,
	[Name] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Universities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Universities] ON 

INSERT [dbo].[Universities] ([Id], [CityId], [Name]) VALUES (1, 14, N'ABANT İZZET BAYSAL ÜNİVERSİTESİ')
INSERT [dbo].[Universities] ([Id], [CityId], [Name]) VALUES (2, 38, N'ABDULLAH GÜL ÜNİVERSİTESİ')
INSERT [dbo].[Universities] ([Id], [CityId], [Name]) VALUES (3, 34, N'ACIBADEM MEHMET ALİ AYDINLAR ÜNİVERSİTESİ')
GO
SET IDENTITY_INSERT [dbo].[Universities] OFF
GO
